<?xml version="1.0"?>
<launch>
  <arg name="enable_statistics" default="false" />
  <arg name="enable_cym_marker" default="true" />
  <arg name="enable_cym_vrpn" default="true" />
  <arg name="enable_cym_diag_relay" default="false" />

  <arg name="world_name" default="$(find cym_gazebo)/worlds/irl_arena.world" />
  <arg name="use_sim_time" default="true" />
  <!-- Extra Gazebo arguments are used to switch between physics profile here.
       Check the .world file for available physics profile names.
       If there is no such profile name, Gazebo will silently ignore it and
       use the first or the default physics.
  -->
  <arg name="extra_gazebo_args" default="--profile r_750"/>
  <arg name="gui" default="true" />

  <arg name="id_list" default=""/>

  <param name="enable_statistics" value="$(arg enable_statistics)" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>
  </include>

  <node if="$(arg enable_cym_marker)"
        name="cym_marker_node" pkg="cym_marker" type="cym_marker" output="screen" />
  <node if="$(arg enable_cym_vrpn)"
        name="vrpn_client_node" pkg="cym_gazebo" type="cym_vrpn.py" args="$(arg id_list)" output="screen" />>
  <node if="$(arg enable_cym_diag_relay)"
        name="diag_relay_node" pkg="cym_gazebo" type="cym_diag_relay.py" args="$(arg id_list)" output="screen" />>

</launch>
