<?xml version="1.0"?>
<launch>
  <arg name= "name" doc="Name for this simulated drone" />
  <arg name= "x" />
  <arg name= "y" />
  <arg name= "yaw" doc="Silently ignored" />
  <arg name= "z" />
  <arg name= "enable_waypoint_control" default="true" />

  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
      <arg name="name" value="$(arg name)" />
      <arg name="controllers" value="controller/attitude controller/velocity controller/position" />
      <arg name="x" value="$(arg x)" />
      <arg name="y" value="$(arg y)" />
      <arg name="z" value="$(arg z)" />
  </include>

  <node if="$(arg enable_waypoint_control)"
        name="waypoint_node" pkg="cym_device" type="cym_waypoint_follow_hector_quad.py" args="$(arg name)"/>
</launch>
