<?xml version="1.0"?>
<launch>
  <arg name= "name" doc="Namespace for this simulated car" />
  <arg name= "pos_tracker" doc="Tracker ID for model position"/>
  <arg name= "car_model" default="f1tenth"/>
  <arg name= "x" default="0.0" />
  <arg name= "y" default="0.0" />
  <arg name= "z" default="0.05" />
  <group ns="$(arg name)">
    <include file="$(find cym_device)/launch/car_models/$(arg car_model).launch">
      <arg name="name" value="$(arg name)"/>
      <arg name="x" value="$(arg x)"/>
      <arg name="y" value="$(arg y)"/>
      <arg name="z" value="$(arg z)"/>
    </include>
    <node name="waypoint_node" pkg="cyphy_car_mpc" type="mpc_wp_node" output="screen">
        <!-- TODO bot_num is no longer used, may be deleted -->
        <rosparam subst_value="true">
            vicon_obj: $(arg pos_tracker)
            bot_num: -1
        </rosparam>
        <!-- XXX Because racecar remaps from ackermann_cmd to /ackermann_cmd when including
            `racecar/launch/includes/racecar-v2/vesc.launch`.
            cyphy_car_mpc has to support /ackermann_cmd in C++ code for deploying to a device.
            We remap it back for distinct topic names in simulation.
         -->
        <!-- TODO We can map to different navigation topics for different priorities.
              Right now we skip the mux and directly output to the topic subscribed by servo_command
         -->
        <remap from="/ackermann_cmd" to="vesc/high_level/ackermann_cmd_mux/input/nav_0" />
    </node>
  </group>
</launch>
