<?xml version="1.0"?>
<launch>
  <arg name= "name" doc="Namespace for this simulated drone" />
  <arg name= "pos_tracker" doc="Tracker ID for model position"/>
  <arg name= "x" default="0.0" />
  <arg name= "y" default="0.0" />
  <arg name= "z" default="0.3" />
  <group ns="$(arg name)">
    <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
      <arg name="name" value="$(arg name)" />
      <arg name="controllers" value="controller/attitude controller/velocity controller/position" />
      <arg name="x" value="$(arg x)" />
      <arg name="y" value="$(arg y)" />
      <arg name="z" value="$(arg z)" />
    </include>

    <node name="waypoint_node" pkg="cym_device" type="cym_waypoint_driver_drone.py" args="$(arg pos_tracker)"/>
  </group>
</launch>
