<?xml version="1.0"?>
<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find cyphyhouse)/worlds/cyphyhouse.world"/>
  </include>
  <include file="$(find cym_device)/launch/cym_car.launch">
    <arg name="name" value="car1"/>
    <arg name="pos_tracker" value="car1"/>
    <arg name="x" value="0"/>
    <arg name="y" value="0"/>
  </include>
  <include file="$(find cym_device)/launch/cym_car.launch">
    <arg name="name" value="car2"/>
    <arg name="pos_tracker" value="car2"/>
    <arg name="x" value="1"/>
    <arg name="y" value="1"/>
  </include>
  <include file="$(find cym_device)/launch/cym_car.launch">
    <arg name="name" value="car3"/>
    <arg name="pos_tracker" value="car3"/>
    <arg name="x" value="2"/>
    <arg name="y" value="2"/>
  </include>
  <node name="vrpn_client_node" pkg="cym_device" type="cym_vrpn.py" args="car1 car2 car3">
  </node>
</launch>
