<?xml version="1.0"?>
<launch>
    <arg name="name" default="hotdec_car"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
    <include file="$(find cym_device)/launch/cym_car.launch">
      <arg name="name" value="$(arg name)"/>
      <arg name="pos_tracker" value="$(arg name)"/>
      <arg name="car_model" value="boxcar"/>
      <arg name= "x" default="0.0" />
      <arg name= "y" default="0.0" />
    </include>
    <node name="vrpn_client_node" pkg="cym_device" type="cym_vrpn.py" args="$(arg name)"/>
</launch>
