<?xml version="1.0"?>
<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find cyphyhouse)/worlds/cyphyhouse.world"/>
  </include>
  <include file="$(find cym_device)/launch/cym_drone.launch">
    <arg name="name" value="drone1"/>
    <arg name="pos_tracker" value="drone1"/>
    <arg name="x" value="1"/>
    <arg name="y" value="1"/>
  </include>
  <include file="$(find cym_device)/launch/cym_drone.launch">
    <arg name="name" value="drone2"/>
    <arg name="pos_tracker" value="drone2"/>
    <arg name="x" value="2"/>
    <arg name="y" value="2"/>
  </include>
  <include file="$(find cym_device)/launch/cym_drone.launch">
    <arg name="name" value="drone3"/>
    <arg name="pos_tracker" value="drone3"/>
    <arg name="x" value="3"/>
    <arg name="y" value="3"/>
  </include>
  <node name="vrpn_client_node" pkg="cym_device" type="cym_vrpn.py" args="drone1 drone2 drone3">
  </node>
</launch>
